.d20-button{
    color: white; 
    background-color: white; 
    font-size: small; 
    font-weight: bold; 
    background-image: url('d20.png'); 
    background-size: 100% 100%; 
    border: none; 
    width: 22px;
    text-align: center; 
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
  }

  .d20-button:hover {
    transform: scale(1.2, 1.2);
    background-color: rgba(0, 0, 0, 0);
  }

  .falling-dice{
    opacity: 0;
    animation: falling-dice-animation 0.15s linear forwards;
  }
  
  @keyframes falling-dice-animation {
    from {
        opacity: 0;
        transform: translateY(-20px);
  }
  
    to {
        opacity: 1;
        transform : translateY(0);
    }
  }