.d20-button{
    color: white; 
    background-color: white; 
    font-size: small; 
    font-weight: bold; 
    background-image: url('d20.png'); 
    background-size: 100% 100%; 
    border: none; 
    width: 22px;
    text-align: center; 
    padding: 0px;
  }

  .d20-button:hover {
    transform: scale(1.2, 1.2);
  }